body {
  margin: 0;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
  padding: 0 1em;
}

.title-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto 0;
  width: 90%;
  max-width: 600px;
}

.main-container {
  width: 90%;
  max-width: 600px;
  margin: 30px auto 0;
  font-size: large;
  line-height: 1.5;
}

#bar-chart {
  width: 100%;
  max-width: 560px;
}

.slidecontainer {
  display: flex;
  flex-direction: column;
  width: 200px;
}

#slideOutput {
  text-align: center;
}

#fig6 {
  height: 401px;
}
